/*doc
---
title: image upload
name: image upload
category: Base css
---

this style is for the image upload widget.

*/

/*==================================================*/
/*  Image upload widget                             */
/*==================================================*/

.search-img-case {
  padding: .5em;
}
.search-img-input {
  padding: .25em;
}
.search-img-input input{
  border: 1px solid #e7e7e7;
}
div.imgcontent > a {
    display: inline-block;
    width: 8em;
    height: 8em;
    overflow: hidden;
    padding: .25em;
}
div.imgcontent > a > img {
    display:block;
    margin:0 auto;
}
div.imgcontent {
    margin-top:20px;
    margin-bottom:4px;
    text-align: center;
}

.aimage-widget > .btn-group .btn-group-xs {
    z-index:0;
}

/* allow div height to be auto for text changes */
.aimage-widget .tab-content{
 height:auto; 
}

.imgtarget{
    font-size:15px;
    font-weight:bold;
    background: #fff;
    word-wrap:break-word;
    padding:9px;
    color:#858585;
}

/**/
.search-img {
    margin:0;
}

/* displayed image */
.imgup-displayed-image {
  margin: 0;
  max-height: 20em;
  height: auto;
}

/* display image change ui */
.micro-menu-upload-image {
  display:inline-block;
  padding:0px;
  clear:both;
}

.micro-menu-upload-image > li{
    float:left;
    margin-right:6px;
    list-style:none;
}

.upld{
  clear:both;
}
.upld > li{
  float:left;
}

.menu-upload-image-contentbody{
  /*border:1px solid #d6d6d6;*/
  padding:3px;
  border-radius: 0px 3px 3px 3px;
  -moz-border-radius: 0px 3px 3px 3px;
  -webkit-border-radius: 0px 3px 3px 3px;
  background:#fff;
}

.menu-upload-image {
  margin-bottom:10px;
}
.menu-upload-image > li > a {
/*  background:#333333 !important;*/
/*  color:#ffffff !important;*/
}
.menu-upload-image > li.active > a{
  background:#5BB0C4 !important;
  color:#ffffff !important;
}
.menu-upload-image > li.active > a:hover{
  background:#5BB0C4 !important;
  color:#ffffff !important;
}
.menu-upload-image > li > a:hover{
  background:#5BB0C4 !important;
  color:#ffffff !important;
}

.search-img-case .clearfix > a {
  padding: .25em;
}